<div class="card">
    <div class="card-header">
        <h4>LISTA DE VEHICULOS</h4>
    </div>    
    <div class="card-body">
        <div class="row">
            <div class="mb-3">
                <label class ="form-label">FILTRAR POR:</label>
                <input type="text" class="form-control" [(ngModel)]="filtrarPor">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th colspan="7">
                            <button class="btn btn.success" (click)="mostrarImagen = !mostrarImagen">Mostrar Imagenes</button>
                        </th>
                    </tr>
                    <tr>
                        <th>Imagen</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Año</th>
                        <th scope="col">Calificacion</th>
                        <th>Opciones</th>
            
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vehiculo of getListavehiculos()">
                        <td style="width: 10%;">
                            <img class="img-thumbnail" [src]="vehiculo.foto" *ngIf="mostrarImagen">
                        </td>
                        <td>{{vehiculo.codigo}}</td>
                        <td>{{vehiculo.marca}}</td>
                        <td>{{vehiculo.modelo}}</td>
                        <td>{{vehiculo.anio}}</td>
                        <td>
                            <app-calificacion [calificacion]="vehiculo.calificacion" (select)="mostrarAlerta($event)"></app-calificacion>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="eliminarvehiculo(vehiculo)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
                        
            </table>

        </div>
                       
    </div>  
</div>
<div class="modal fade" #exampleModalv id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-disaiss="modal" aria-label="Close"></button>                    
            </div>
            <div class="modal-body">
                <form [formGroup]="formularioVehiculo">
                    <div class="mb-3">
                        <label for="formControlCodigo" class="form-label">Codigo</label>
                        <input type="text" class="form-control" id="formControlCodigo" formControlName ="codigo">           
                    </div>
                    <div class="mb-3">
                        <label for="formControlMarca" class="form-label">Marca</label>
                        <input type="text" class="form-control" id="formControlMarca" formControlName ="marca">           
                    </div>
                    <div class="mb-3">
                        <label for="formControlModelo" class="form-label">Modelo</label>
                        <input type="text" class="form-control" id="formControlModelo" formControlName ="modelo">           
                    </div>
                    <div class="mb-3">
                        <label for="formControlAnio" class="form-label">Año</label>
                        <input type="text" class="form-control" id="formControlAnio" formControlName ="anio">           
                    </div>
                    <div class="mb-3">
                        <label for="formControlAnio" class="form-label">Calificacion</label>
                        <input type="numvber" class="form-control" id="formControlAnio" formControlName ="calificacion">           
                    </div>
                    <div class="mb-3">
                        <label for="formControlAnio" class="form-label">Imagen URL</label>
                        <input type="url" class="form-control" id="formControlAnio" formControlName ="foto">           
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-disaiss="modal">Close</button>                    
                <button type="button" class="btn btn-primary" (click)="guardarvehiculo()" >Save Changes</button>                    

            </div>
                
        </div>
            
    </div>


</div>